@using static HotelManagementApp.PaymentFolder.Payment
@model HotelManagementApp.PaymentFolder.Payment

@{
    ViewData["Title"] = "Create";
}

<h1>Make Payment</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuestName" class="control-label"></label>
                <input asp-for="GuestName" class="form-control" />
                <span asp-validation-for="GuestName" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="PaymentMeth" class="control-label"></label>
                <select asp-for="PaymentMeth" class="form-control"></select>
                <span asp-validation-for="PaymentMeth" class="text-danger"></span>
            </div> *@

            <div class="form-group">

                <label asp-for="PaymentMeth" class="control-label"></label>
               
                
                    <select asp-for="PaymentMeth"
                            asp-items="Html.GetEnumSelectList<PaymentMethod>()"
                            class="form-control text-dark"></select>
               
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
