@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] </title>
</head>
<body>
    <h2>Welcome to Visbury Hotel</h2>
    <h3>Dear Guest, Please book now, Before booking kindly see the rooms below</h3>

    <div class="myImg">
        <img src="/css/Images/detail-img1.png" alt="image" />
    </div>
    <div class="card">
        <img src="/css/Images/detail-img2.png" alt="image" />
        <div class="container">
            <h2>Deluxe Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now" />
            </a>
        </div>
    </div>
    <div class="card">
        <img src="/css/Images/detail-img3.png" alt="image" />
        <div class="container">
            <h2>Double Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now" />
            </a>
        </div>
    </div>
    <div class="card">
        <img src="/css/Images/Rect4.png" alt="image" />
        <div class="container">
            <h2>Single Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now" />
            </a>
        </div>
    </div>
    <div class="card">
        <img src="/css/Images/Rect5.png" alt="image" />
        <div class="container">
            <h2>Nice Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now" />
            </a>
        </div>
    </div>
    <div class="card">
        <img src="/css/Images/Rect6.png" alt="image" />
        <div class="container">
            <h2>Presidential Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now" />
            </a>
        </div>
    </div>
    <div class="card">
        <img src="/css/Images/Rect7.png" alt="image" />
        <div class="container">
            <h2>Royal Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now" />
            </a>
        </div>
    </div>
    <div class="card">
        <img src="/css/Images/Rect8.png" alt="image" />
        <div class="container">
            <h2>Deluxe Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now" />
            </a>
        </div>
    </div>
</body>
</html>

